<div id="playlist">
    <ul class="list-inline">
        {{#each upcoming}}
            <li class="list-inline-item">
                <img src="https://img.youtube.com/vi/{{this.id}}/hqdefault.jpg" />
            </li>
        {{/each}}
    </ul>
</div>