<div id="addurl" class="input-group">
    <input type="text" class="form-control" placeholder="URL">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button" onclick="submitNewUrl()">Add</button>
    </span>
</div>

<div id="playlist">
    <a id="playlist-left" class="button" onclick="scrollPlaylistLeft();">
        <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x circle-full" aria-hidden="true"></i>
            <i class="fa fa-chevron-circle-left fa-stack-2x" aria-hidden="true"></i>
            <i class="fa fa-circle-thin fa-stack-2x circle" aria-hidden="true"></i>
        </span>
    </a>
    <a id="playlist-right" class="button" onclick="scrollPlaylistRight();">
        <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x circle-full" aria-hidden="true"></i>
            <i class="fa fa-chevron-circle-right fa-stack-2x" aria-hidden="true"></i>
            <i class="fa fa-circle-thin fa-stack-2x circle" aria-hidden="true"></i>
        </span>
    </a>
    <div id="playlist-scroll">
        {{#each upcoming}}
            <div class="upcoming">
                <img src="https://img.youtube.com/vi/{{this.id}}/mqdefault.jpg" />
            </div>
        {{/each}}
    </div>
</div>