<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/font-awesome.min.css" rel="stylesheet">
    <link href="/style/style.css" rel="stylesheet">
    <link href="/style/player.css" rel="stylesheet">
    <link href="/style/playlist.css" rel="stylesheet">
    <link href="/style/users.css" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-brand">
                <a href="/" class="no-decor">
                    <img src="/img/logo-64.png" class="logo" />
                    vync.it
                </a>
            </span>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/jannikw/vync.it" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </nav>

    {{{body}}}

    <footer class="footer">
        <div class="container text-muted">
            <div class="row">
                <div class="logo" class="col-4">
                    <img src="/img/logo.png" />
                    vync.it
                    <a href="http://www.freepik.com/free-photos-vectors/logo" class="credit">Logo vector created by Freepik</a>
                </div>
                <div class="col-7"></div>
                <div id="imprint" class="col-1">
                    <a href="/">Imprint</a>
                </div>
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/lib/jquery-3.2.1.min.js"></script>
    <script src="/lib/popper.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>

    {{{block "pageScripts"}}}
</body>

</html>