#addurl input {
    margin-right: 5px;
    border-radius: 5px;
}

#addurl button {
    border-radius: 5px;
}

#playlist {
    position: relative;
    border: 1px solid black;
}

#playlist .button {
    position: absolute;
    top: 35%;
    color: grey;
}

#playlist .button .circle {
    color: white;
}

#playlist .button .circle-full {
    color: black;
}

#playlist-left {
    left: 10px;
    z-index: 2;
}

#playlist-right {
    right: 10px;
}

#playlist-scroll {
    overflow: auto;
    white-space: nowrap;
    overflow-x: hidden;
}

#playlist-scroll .upcoming {
    position: relative;
    display: inline-block;
    width: 25%;
}

#playlist-scroll .upcoming img {
    width: 100%;
}

#playlist-scroll .upcoming .duration {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    position: absolute;
    left: 5px;
    bottom: 5px;
}