html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

#content .col-3 {
    padding-right: 0; padding-left: 0;
}

#content {
    width: 100%;
    height: 100%;
}

#player {
    background-color: red;
    margin-top: 7.5%;
}

#playlist {
    position: relative;
    border: 1px solid black;
}

#playlist .button {
    position: absolute;
    top: 35%;
    color: grey;
}

#playlist .button .circle {
    color: white;
}

#playlist .button .circle-full {
    color: black;
}

#playlist-scroll {
    overflow: auto;
    white-space: nowrap;
    overflow-x: hidden;
}

#playlist-scroll .upcoming {
    display: inline-block;
    width: 25%;
}

#playlist-scroll .upcoming img {
    width: 100%;
}

#playlist-left {
    left: 10px;
}

#playlist-right {
    right: 10px;
}

#users {
    float: right;
    width: 75%;
}

#users ul li {
    text-align: right;
}

#users ul li span {
    margin-right: 5px;
}

footer #logo img {
    width: 30px;
}

footer #logo .credit {
    margin-left: 5%;
}