html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: Roboto-Regular;
}

/* ----------------  FONT IMPORT ---------------- */

@font-face {
    font-family: Roboto-Regular; 
    src: url(/fonts/Roboto-Regular.ttf); 
}
@font-face {
    font-family: Roboto-Medium; 
    src: url(/fonts/Roboto-Medium.ttf); 
}
@font-face {
    font-family: Roboto-Light; 
    src: url(/fonts/Roboto-Light.ttf); 
}
@font-face {
    font-family: Roboto-Bold; 
    src: url(/fonts/Roboto-Bold.ttf); 
}

/* ---------------------------------------------- */

.no-decor, .no-decor:hover, .no-decor:active {
    color: black;
    text-decoration: none !important;
}

nav .logo {
    width: 32px;
}

#content .col-3 {
    padding-right: 0; padding-left: 0;
}

#content {
    width: 100%;
    height: 100%;
}

#description {
    text-align: center;
    margin-top: 75px;
}

#title {
    white-space: nowrap;
}

#title h1 {
    font-size: 80px;
    display: inline-block
}

#pronunciation {
    position: absolute;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    display: none;
}

#description h2 {
    font-size: 30px;
}

.index-button {
    width: 100%;
    font-size: 50px;
    margin-bottom: 50px;
}

#btnCreateRoom {
    margin-top: 50px;
}

#players .player {
    text-align: center;
}

#self {
    text-align: right;
    vertical-align: middle;
    margin: 5px;
}

#self span {
    font-size: 20px;
    margin-right: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

footer .logo img {
    width: 32px;
}

footer .logo .credit {
    margin-left: 25px;
}