html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

#content .col-3 {
    padding-right: 0; padding-left: 0;
}

#content {
    width: 100%;
    height: 100%;
}

#content #player {
    background-color: red;
    margin-top: 7.5%;
}

#content #users {
    float: right;
    width: 75%;
}

#content #users ul li {
    text-align: right;
}

#content #users ul li span {
    margin-right: 5px;
}

footer #logo img {
    width: 30px;
}

footer #logo .credit {
    margin-left: 5%;
}