<div id="content" class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div id="description">
                <div id="title">
                    <h1>vync.it</h1>
                    <span id="pronunciation">[wiŋk it]</span>
                </div>
                
                <h2>Sync your video watching experience</h2>

                <span>
                    Built using
                    <a href="https://nodejs.org" target="_blank">node.js</a>, 
                    <a href="https://expressjs.com" target="_blank">express</a>, 
                    <a href="https://jquery.com/" target="_blank">jQuery</a>,
                    <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>, 
                    <a href="http://fontawesome.io" target="_blank">Font Awesome</a>
                    at
                    <a href="https://dohack.io" target="_blank">DO!Hack 2017</a>
                </span>
            </div>
            <a href="/lobbies/create" id="btnCreateRoom" class="btn btn-primary index-button">Create Room</a>
            <a href="/lobbies" class="btn btn-primary index-button">Show Rooms</a>
            <div id="players" class="row align-bottom">
                <div class="player col-4" title="YouTube">
                    <i class="fa fa-youtube-play fa-5x" aria-hidden="true"></i>
                    <br>
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <span>Supported</span>
                    <br>
                    <a href="https://developers.google.com/youtube/iframe_api_reference" target="_blank">API Docs</a>
                </div>
                <div class="player col-4" title="Vimeo">
                    <i class="fa fa-vimeo fa-5x" aria-hidden="true"></i>
                    <br>
                    <i class="fa fa-flask" aria-hidden="true"></i>
                    <span>Experimental</span>
                    <br>
                    <a href="https://github.com/vimeo/player.js" target="_blank">API Docs</a>
                </div>
                <div class="player col-4" title="Twitch">
                    <i class="fa fa-twitch fa-5x" aria-hidden="true"></i>
                    <br>
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <span>Coming soon</span>
                    <br>
                    <a href="https://dev.twitch.tv/docs/embed#embedding-video-and-clips" target="_blank">API Docs</a>
                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>

{{#contentFor "pageScripts"}}
    <script src="/js/index.js" ></script>
{{/contentFor}}