<div id="content" class="container-fluid">
    <div class="row">
        <div class="col-3">
            {{> sidebar-left}}
        </div>
        <div class="col-6">
            <div id="player"> </div>
            {{> playlist}}
        </div>
        <div class="col-3">
            {{> users}}
        </div>
    </div>
</div>

{{#contentFor "pageScripts"}}
    <script src="js/vync.js"></script>
    <script src="js/playlist.js"></script>

    <script src="lib/q.js"></script>
    <script src="js/providers/youtube.js" ></script>
    <script src="js/providers/vimeo.js" ></script>
    <script src="js/multi-player.js"></script>

    <script src="js/test.js"></script>
{{/contentFor}}