<h1>Welcome!</h1>

<h2>List of users</h2>

<ul>
    {{#each users}}
    <li>
        {{> user}}
    </li>
    {{/each}}
</ul>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>