<div id="content" class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            {{> lobbies}}
        </div>
        <div class="col-4"></div>
    </div>
</div>